.pageContainer {
    background-color: black;
    height: 100vh;
}

.bodyContainer {
    background-color: #272727;
    width: 85%;
    height: 100%;
    border-radius: 20px;
    margin-top: 50px;
    color: white;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

.profileImageContainer {
    color: white;
    /*border: 1px solid;*/
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.profileImage {
    border-radius: 20px;
}

.textContainer {
    margin-right: 40px;
    margin-top: 40px;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.defaultButton {
    display: flex;
    position: relative;
    color: black;
    background-color: #EDC563;
    padding: 4px 20px 4px 20px;
    width: fit-content;
    height: 35px;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    z-index: 1;
    
  }
  
  .defaultButton:hover {
    background-color: #9F843F;
  } 

@media (max-width: 900px) {
    .profileImageContainer {
        border-radius: 20px;
        margin-left: 50px;
        margin-right: 0px;
    }
    
    .profileImage {
        border-radius: 20px;
        width: 2000;
        height: 2000;
    }

    .textContainer {
        font-size: 10px;
        right: 0px;
    }
    .bodyText {
        margin-right: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 450px) {
    .pageContainer {
        height: auto;
    }
    
    .mainContainer {
        margin-top: 30px;
        border-radius: 20px;
        width: 85%
    }

    .textContainer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }

    .bodyContainer {
        flex-direction: column;
        margin-top: 30px;
    }  

    .profileImageContainer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    
    .profileImage {
        width: 500;
        height: 500;
        border-radius: 10px;
    }
    .bodyText {
        font-size: 18px;
        margin-top: 40px;
    }

}
