.defaultButton {
    display: flex;
    position: relative;
    color: black;
    background-color: #EDC563;
    padding: 8px 20px 8px 20px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 800;
    z-index: 10;
    overflow: none;
    font-size: 20px;  
  }
  
  .defaultButton:hover {
    background-color: #9F843F;
  } 

@media (max-width: 450px) {
    .defaultButton {
      font-size: 18px;
    }
  
}