@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0 ;}
    100% { opacity: 1; }
  }


.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

q.topRowContainer {
    display: flex;
    align-items: center;

}

.headingText {
    color: white;
    font-size: 50px;
    font-weight: light;
    margin-top: 250px;
    text-align: center;
    margin-left: 0px;
}

.photo {
    border-radius: 50%; 
 }
 
 .photoContainer {
     width: 250px;
     height: 250px;
     border-radius: 270px;
     position: relative;
     margin-top: 50px;
 }

.bodyText {
    color: white;
    font-size: 18px;
    font-weight: light;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    animation: fadeIn 12s;
    letter-spacing: 0px;
}

.linkText {
    cursor: pointer;
}

.sectionContainer {
    margin-top: 100px;
}

/* GLOBAL STYLES */
  
  /* DEMO-SPECIFIC STYLES */
.typewriter div {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    visibility: hidden; /* Hide content initially */
    animation: 
      typing 3s steps(30, end) forwards,
      blink-caret .5s step-end infinite;
}

.typewriter div:first-child {
    visibility: visible; /* First line is visible */
}

.typewriter div:nth-child(2) {
    animation-delay: 3s; /* Delay the start of the second line */
}

/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; visibility: visible; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.iconContainer {
    margin-top: 5%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    color: white;
}

.scrollIcon {
	width: 60px;
	height: 60px;
	border: 1px solid white;
	border-radius: 50%;
	position: relative;
    cursor: pointer;
	animation: down 1.5s infinite, fadeIn 20s;
	-webkit-animation: down 1.5s infinite, fadeIn 20s;
	&::before {
		content: '';
		position: absolute;
        top: 40%;
        left: 50%;
		width: 20px;
		height: 20px;
		border-left: 1px solid white;
  	    border-bottom: 1px solid white;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@media (max-width: 450px) {
    .headingText {
        font-size: 26px;
        margin-top: 150px;
    }
    .bodyText {
        font-size: 18px;
        font-weight: 600;
        margin-left: 40px;
        margin-right: 40px;
        line-height: 2;
    }

    .iconContainer {
        margin-top: 20%;
    }
    
    .sectionContainer {
        margin-top: 15vh;
    }
    
}
