.navbarContainer {
    z-index: 1000;
}

.linkText {
    cursor: pointer;
}

@media (max-width: 800px) {
    .navbarContainer {
        font-size: 14px;
    }
    
}

@media (max-width: 600px) {
    .navbarContainer {
        font-size: 10px;
    }
    .navbarContainer {
        /*padding-right: 5px;
        padding-left: 5px;*/
    }
    .navbarContainer:first-child {
        
        /*margin-left: 20px;*/
        
    }

    .linkText {
        /*margin-right: 50px;*/
    }
    
}