.navbarContainer {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navbarShadow {
    box-shadow: 0px 20px 40px 0px black;
}

.iconContainer {
    color: white;
    display: none;
    position: relative;
    left: 30%;
}

.linkText {
    cursor: pointer;
}


@media (max-width: 800px) {
    .navbarContainer {
        font-size: 14px;
    }    
}

@media (max-width: 600px) {
    .navbarContainer {
        font-size: 10px;
    }
    .navbarContainer {
        /*padding-right: 5px;
        padding-left: 5px;*/
    }
    .navbarContainer:first-child {
        
        /*margin-left: 20px;*/
        
    }

    .linkText {
        /*margin-right: 50px;*/
    }
    
}

@media (max-width: 450px) {
    .navbarShadow {
        box-shadow: 0px 5px 40px 5px black;
    }
    
    .navbarContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 8vh;
    }

    .navbarContainer.active {
        position: absolute;
        background-color: black;
        height: 100vh;
        width: 100%;
        right: 0;
        text-align: center;
    }

    .iconContainer {
        display: flex;
    }

    .menuIcon {
        display: flex;
    }

    .menuIcon.active {
        display: none;
    }

    .closeIcon {
        display: none;
    }

    .closeIcon.active {
        display: flex;
    }

    .linkContainer {
        margin-top: 50px;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .linkText {
        display: none;
    }

    .linkText.active {
        display: flex;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    .menuIcon {
        position: absolute;
        top: 1vh;
        margin-left: 55vw;
    }

    .closeIcon.active {
        position: absolute;
        top: 1vh;
        margin-left: 55vw;
    }
}